---
# handlers file for reverse-proxy
- name: Restart NGINX
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Validate NGINX configuration
  ansible.builtin.command: nginx -t -c /etc/nginx/nginx.conf
  changed_when: true
  notify:
    - Restart NGINX

- name: Restart Apache
  ansible.builtin.service:
    name: apache2
    state: restarted

- name: Validate Apache configuration
  ansible.builtin.command: apachectl configtest
  changed_when: true
  notify:
    - Restart Apache