---
- name: Ensure Apache is not installed
  ansible.builtin.package:
    name: apache2
    state: absent
  
- name: Ensure Apache is stopped and disabled
  ansible.builtin.service:
    name: apache2
    state: stopped
    enabled: no
  
- name: Install NGINX web server
  ansible.builtin.package:
    name: nginx
    state: present
    update_cache: yes

- name: Ensure NGINX is started and enabled
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes

- name: Add vhosts
  ansible.builtin.template:
    src: nginx-vhost.j2
    dest: "/etc/nginx/sites-available/{{ item.name }}"
    mode: '0644'
  when: item.state|default('present') != "absent"
  loop: "{{ homelab_reverseproxy_webserver_vhosts }}"
  notify: 
    - Validate NGINX configuration

- name: Enable vhost
  ansible.builtin.file:
    src: nginx-vhost.j2
    dest: "/etc/nginx/sites-available/{{ item.name }}"
    state: link
  when: item.state|default('present') != "absent"
  loop: "{{ homelab_reverseproxy_webserver_vhosts }}"
  notify: 
    - Validate NGINX configuration