---
- name: Ensure NGINX is not installed
  ansible.builtin.package:
    name: nginx
    state: absent

- name: Ensure NGINX is stopped and disabled
  ansible.builtin.service:
    name: nginx
    state: stopped
    enabled: no

- name: Ensure Apache is started and enabled
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes

- name: Install Apache web server
  ansible.builtin.package:
    name: apache2
    state: present
    update_cache: yes

- name: Add vhost for Apache
  ansible.builtin.template:
    src: apache-vhost.j2
    dest: "/etc/apache2/sites-available/{{ item.name }}.conf"
    mode: '0644'
  when: item.state|default('present') != "absent"
  loop: "{{ homelab_reverseproxy_webserver_vhosts }}"
  notify: 
    - Validate Apache configuration

- name: Enable vhost for Apache
  ansible.builtin.file:
    src: "/etc/apache2/sites-available/{{ item.name }}.conf"
    dest: "/etc/apache2/sites-enabled/{{ item.name }}.conf"
    state: link
  when: item.state|default('present') != "absent"
  loop: "{{ homelab_reverseproxy_webserver_vhosts }}"
  notify: 
    - Validate Apache configuration