name: Check Terraform Format

on:
  pull_request_target:
    types: 
      - opened
      - synchronize
      - edited

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Format check
        run: terraform fmt -check -recursive
