name: Terraform Checks

on:
  push:
    branches:
      - main
      - dev
      - prod
  pull_request:
    types: 
      - opened
      - synchronize
      - edited

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Format check
        run: terraform fmt -check -recursive
        
      - name: Terraform validate
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            ENV="${{ github.event.pull_request.base.ref }}"
          elif [ "${{ github.ref_name }}" == "main" ]; then
            exit 1
          else 
            ENV="${{ github.ref_name }}"
          fi
          
          cd terraform/envs/$ENV
          terraform init -backend=false
          terraform validate
