name: Terraform Checks

on:
  pull_request:
    types: 
      - opened
      - synchronize
      - edited

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Format check
        run: terraform fmt -check -recursive
        
      - name: Terraform validate
        run: |
          ENV=${GITHUB_REF#refs/heads/}
          cd $ENV;
          terraform init -backend=false
          terraform validate
