name: Terraform Lint

on:
  push:
    branches:
      - main
      - dev
      - prod
  pull_request:
    types: 
      - opened
      - synchronize
      - edited

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set environment variable
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            ENV="${{ github.event.pull_request.base.ref }}" 
          elif [ "${{ github.ref_name }}" == "main" ]; then
            exit 1 
          else 
            ENV="${{ github.ref_name }}"
          fi

      - name: Setup Terraform Linter
        uses: terraform-linters/setup-tflint@v6
      
      - name: Terraform lint version
        run: tflint --version

      - name: Initialize TFLint
        run: |
          cd terraform/envs/${{ env.ENV }}
          tflint --init
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Run TFLint
        run: tflint -f compact --chdir=terraform/envs/${{ env.ENV }}