name: Terraform lint

on:
  push:
    branches:
      - main
      - dev
      - prod
  pull_request:
    types: 
      - opened
      - synchronize
      - edited

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform Linter
        uses: terraform-linters/setup-tflint@v6
      
      - name: Terraform lint version
        run: tflint --version

      - name: Initialize TFLint
        run: tflint --init
        env:
          ENV: ${{ github.token }}

      - name: Run TFLint
        run: tflint -f compact